# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
*.sqlite3

# Logs
*.log
logs/
*/logs/

# Docker
# Keep Dockerfiles and main docker-compose.yml, ignore overrides and temp files
docker-compose.override.yml
**/docker-compose.override.yml

# Alembic / migrations
**/alembic/versions/
**/migrations/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
